<!DOCTYPE html>
<html lang="en" ng-app="AppCamisetas">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- bootstrap 3.0.2 -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="css/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- fullCalendar -->
        <link href="css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="css/AdminLTE.css" rel="stylesheet" type="text/css" />
          <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.css" />
        <link rel="stylesheet" type="text/css" href="js/sweetalert.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-notify.css">
        <style type="text/css">
        	.s{

				border-color: #eeeeee;
				width: 218px;

        	}
            .total {
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: orange;
                color: #ffffff;
                position: relative
}
            #tt{
                text-align: center;
                margin-top: 5px
            }
            .panel{
              margin-left:20px;
              width: 250px
            }
          
        </style>

</head>
<body >
	   
 <div class="container" ng-controller="productosController">
      <div class="row show">
        <div ng-repeat="producto in Productos" class="col-md-3 panel panel-warning">
     
              <img ng-src="{{producto.urlImagen}}" alt="{{producto.nombre}}" />
      <div class="visible">
              <label>{{producto.nombre}}</label></br>
            <label>{{producto.marca}}</label></br>
            <label>{{producto.categoria}}</label></br>
            <strong class="label label-danger badges">C$: {{producto.precio}}</strong>
            
      </div>
          
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <nav aria-label="Page Navigation">
                    <ul class="pagination">
                        <li ng-repeat="n in [].constructor(Total) track by $index">
                            <a ng-click="Paginar($index+1)" href="#">{{$index+1}}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
 </div>
</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>


        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="js/plugins/morris/morris.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <!-- fullCalendar -->
        <script src="js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
        <!-- AdminLTE App -->
        <script src="js/AdminLTE/app.js" type="text/javascript"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="js/AdminLTE/dashboard.js" type="text/javascript"></script>   
        <script type="text/javascript" src="js/angular.js"></script>     
        <script type="text/javascript" src="js/angular-route.js"></script>
        <script type="text/javascript" src="App/App.js"></script>
        <script type="text/javascript" src="App/Services/Servicios.js"></script>
      <script type="text/javascript" src="App/Controller/productosController.js"></script>
        <script type="text/javascript" src="App/Controller/marcasController.js"></script>
          <script type="text/javascript" src="App/Controller/categoriasController.js"></script>
      <script type="text/javascript" src="App/Controller/facturaController.js"></script>
             <script type="text/javascript" src="App/Controller/tallaController.js"></script>
                 <script src="js/bootstrap-notify.js"></script> 
                 <script src="js/demo.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.js"></script>
</html>