<!DOCTYPE html>
<html lang="en" ng-app="AppCamisetas">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
   <!-- bootstrap 3.0.2 -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="css/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- fullCalendar -->
        <link href="css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="css/AdminLTE.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css" href="js/sweetalert.css">


<body>
<div ng-controller="productosController">
 <div class="container">

        <div class="panel-info">
            <div class="panel-heading">
                Informacion del Producto
            </div>
            <div class="panel-body panel-primary" style="border:1px solid #808080 " ng-show="visible">
                <form>
                    <div class="col-md-4">
                        <center> <img ng-src="{{UrlImagen}}" class="img-circle" width="250" height="250" /></center>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Codigo</label>
                            <input type="text" class="form-control" readonly ng-model="IdProducto" />
                        </div>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" ng-model="Nombre" />
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Marcas:</label>

                            <select class="form-control">
                                <option ng-model="Marca">{{Marca}}</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Categoria:</label>

                            <select class="form-control">
                                <option ng-model="Categoria">{{Categoria}}</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label>Descripcion</label>
                            <input type="text" maxlength="300" class="form-control" ng-model="Descripcion" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Precio</label>
                            <input type="text" class="form-control" ng-model="Precio" />
                        </div>
                        <div class="form-group">
                            <label>Iva</label>
                            <input type="text" class="form-control" ng-model="Iva" />
                        </div>
                        <div class="form-group">
                            <label>Iva</label>
                            <input type="checkbox" class="form-control" ng-model="Estado" />
                        </div>
                        <div class="form-group">
                            <button type="button" ng-click="UpdateProd()" class="btn btn-success">Update</button>
                            <button type="button" ng-click="ocultar()" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
<div class="container">



    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Nombre:</label>
                                    <input type="text" class="form-control" ng-model="AllProducto.Nombre" id="recipient-name">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Descripcion:</label>
                                    <input type="text" class="form-control" ng-model="AllProducto.Descripcion" id="recipient-name">
                                </div>
                                <div class="form-group" ng-controller="categoriasController">
                                    <label for="message-text" class="form-control-label">Categoria:</label>
                                    <select ng-model="AllProducto.IdCategoria" class="form-control">
                                        <option ng-repeat="cate in Categoria" value="{{cate.idCategoria}}">{{cate.nombre}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Precio:</label>
                                    <input type="text" class="form-control" ng-model="AllProducto.Precio" id="recipient-name">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Iva:</label>
                                    <input type="text" class="form-control" ng-model="AllProducto.Iva" id="recipient-name">
                                </div>

                                <div class="form-group" ng-controller="marcasController">
                                    <label for="message-text" class="form-control-label">Marca:</label>
                                    <select ng-model="AllProducto.idMarca" class="form-control">
                                        <option ng-repeat="marc in marcas" value="{{marc.idMarca}}">{{marc.nombre}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Estado:</label>
                                    <input type="checkbox" class="form-control" ng-model="AllProducto.Estado" id="recipient-name">
                                </div>
                                <div class="form-group">
                                        <label for="recipient-name" class="form-control-label">Imagen:</label>
                                        <input type="file" class="form-control" ng-model="AllProducto.UrlImagen" id="fiel" name="file">
                                    </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="GuardarProd()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>


	  <section class="panel panel-info">
            <div class="panel-heading">
            	<div class="form-group">
           
            		<i class="fa fa-search"></i>
            
            		<input type="text" name="" ng-model="Busqueda" class="form-control"> 
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
<i class="fa fa-plus"></i>
</button>           	
            	</div>

            </div>
            <div class="panel-body">

                <table class="table table-striped table-condensed table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Producto</th>
                            <th>Marca</th>
                            <th>Imagen</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in Productos | filter:Busqueda as resultado" show-filter="true">
                            <td>{{product.idProducto}}</td>
                            <td>{{product.nombre}}</td>
                            <td>{{product.marca}}</td>
                            <td><img ng-src="{{product.urlImagen}}" class="img-circle" style="width:20px;height:20px" /></td>
                            <td> C$ {{product.precio}}</td>
                            <td>
                                <button type="button" id="{{product.idProducto}}" ng-click="Obtener(product.idProducto)" class="btn btn-info btn-sm"> <i class="fa fa-plus"></i>Editar</button>&nbsp;
                                <button type="button" class="btn btn-danger btn-sm" id="{{product.idProducto}}" data-ng-click="Delete(product.idProducto)"> <i class="fa fa-plus"></i>Elimiar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <nav aria-label="Page Navigation">
                            <ul class="pagination">
                                <li ng-repeat="n in [].constructor(Total) track by $index">
                                    <a ng-click="Paginar($index+1)" href="#/Productos">{{$index+1}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </section>
     
</div>
	</div>
</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>


        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="js/plugins/morris/morris.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <!-- fullCalendar -->
        <script src="js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
        <!-- AdminLTE App -->
        <script src="js/AdminLTE/app.js" type="text/javascript"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="js/AdminLTE/dashboard.js" type="text/javascript"></script>   
        <script type="text/javascript" src="js/angular.js"></script>     
        <script type="text/javascript" src="js/angular-route.js"></script>
        <script type="text/javascript" src="App/App.js"></script>
        <script type="text/javascript" src="App/Services/Servicios.js"></script>
      <script type="text/javascript" src="App/Controller/productosController.js"></script>
        <script type="text/javascript" src="App/Controller/marcasController.js"></script>
          <script type="text/javascript" src="App/Controller/categoriasController.js"></script>
   
</html>