<!DOCTYPE html>
<html lang="en" ng-app="AppCamisetas">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
   <!-- bootstrap 3.0.2 -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="css/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- fullCalendar -->
        <link href="css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="css/AdminLTE.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css" href="js/sweetalert.css">


<body>
<div ng-controller="targetasController" class="container">
<!--modal para crear una nueva targeta-->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
Crear Targeta
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Targeta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="form-group">
           <label>Nombre Targeta</label>
           <input type="text" class="form-control" ng-model="targeta.nombre" name="">
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="crearTargeta(targeta)">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!--FIN-->

      <section class="panel panel-info">
            <div class="panel-heading">
                <div class="form-group">
                <span>
                    <i class="fa fa-search"></i>
                </span>
                    <input type="text" name="" ng-model="Busqueda" class="form-control">                
                </div>

            </div>
            <div class="panel-body">


                <table class="table table-striped table-condensed table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                           
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="targetas in targetas | filter:Busqueda as resultado" show-filter="true">
                            <td>{{targetas.idTargeta}}</td>
                            <td>{{targetas.nombre}}</td>                          
                           <td>
                                <button type="button" id="{{targetas.idTargeta}}" ng-click="Obtener(targetas.idTargeta)" class="btn btn-info btn-sm"> <i class="fa fa-plus"></i>Editar</button>&nbsp;
                                <button type="button" class="btn btn-danger btn-sm" id="{{targetas.idTargeta}}" data-ng-click="Delete(targetas.idTargeta)"> <i class="fa fa-plus"></i>Elimiar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-6">

                </div>              
            </div>

        </section>	


</div>
	
</body>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- jQuery UI 1.10.3 -->
        <script src="js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="js/plugins/morris/morris.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <!-- fullCalendar -->
        <script src="js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
        <!-- AdminLTE App -->
        <script src="js/AdminLTE/app.js" type="text/javascript"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="js/AdminLTE/dashboard.js" type="text/javascript"></script>   
        <script type="text/javascript" src="js/angular.js"></script>     
        <script type="text/javascript" src="js/angular-route.js"></script>
        <script type="text/javascript" src="App/App.js"></script>
        <script type="text/javascript" src="App/Services/Servicios.js"></script>
        <script type="text/javascript" src="App/Controller/productosController.js"></script>
        <script type="text/javascript" src="App/Controller/marcasController.js"></script>
          <script type="text/javascript" src="App/Controller/categoriasController.js"></script>
            <script type="text/javascript" src="App/Controller/targetasController.js"></script>
</html>