<!DOCTYPE html>
<html lang="en" ng-app="AppCamisetas">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
   <!-- bootstrap 3.0.2 -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="css/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- fullCalendar -->
        <link href="css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="css/AdminLTE.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css" href="js/sweetalert.css">


<body>
<div class="container" ng-controller="verFacturasController">
    <div class="row" >
        <div class="panel">
   <div class="col-md-4"></div>
   <div class="col-md-6">
    <div class="form-group">
        <input type="text" class="form-control btn btn-default" style="max-width: 300px"  name="" ng-model="codFac">
    <button type="button" class="btn btn-primary" ng-click="buscar(codFac)">Buscar</button>
    </div></div>
   <div class="col-md-2"></div>
</div>
    </div>
    <div class="row" id="pdf">
        <div class="panel pane-info">
            <div class="panel-body">
          <div class="row">
                <div class="col-md-4">
                <img src="img/shop.png" width="150px" height="150px" style="border-radius: 50%">
                </div>
            <div class="col-md-4"><h2 style="text-align: center;margin-top: 50px;font-weight: bold;">Reportes de Ventas</h2>
            </div>
             <div class="col-md-4">
                 <p style="text-align: right;margin-top: 50px;font-weight: bold;">Su Tienda Online le agredece por su Compra ... </br> y le desea un buen retorno a su Destino</br> Lo esperamos pronto!!</p>
             </div>
          </div>   

            <div class="col-md-4"><label>Fecha de la Factura</label><input type="text" readonly="true" ng-model="date |date : format : timezone" class="form-control" name=""></div>
            <div class="col-md-4"><label>Usuario que registro la Factura</label><input type="text" class="form-control" readonly="true" ng-model="userName" name=""></div>
            <div class="col-md-4"><label>Numero de la Facura</label><input type="text" class="form-control" readonly="true" ng-model="id" name=""></div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Talla</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pro in vfac">
                        <td>{{pro.nombre}}</td>
                        <td>{{pro.cantidad}}</td>
                        <td>{{pro.precio}}</td>
                        <td>{{pro.talla}}</td>
                        <td>{{pro.cantidad*pro.precio |currency:"C$"}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <p style="margin-top: 20px;float: left;">CopyRight | Todos los Derechos Reservado</p>

                <p style="margin-top: 20px;float: right;"> Tienda Online <strong>Victory Shop</strong> </p>

            </div>
        </div>
    </div>
  <div class="panel-body">
        <button type="button" class="btn btn-default" ng-click="printDocument('pdf')">PDF</button>
  </div>
</div>

	
</body>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- jQuery UI 1.10.3 -->
        <script src="js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="js/plugins/morris/morris.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <!-- fullCalendar -->
        <script src="js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
        <!-- AdminLTE App -->
        <script src="js/AdminLTE/app.js" type="text/javascript"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="js/AdminLTE/dashboard.js" type="text/javascript"></script>   
        <script type="text/javascript" src="js/angular.js"></script>     
        <script type="text/javascript" src="js/angular-route.js"></script>
        <script type="text/javascript" src="App/App.js"></script>
        <script type="text/javascript" src="App/Services/Servicios.js"></script>
        <script type="text/javascript" src="App/Controller/productosController.js"></script>
        <script type="text/javascript" src="App/Controller/marcasController.js"></script>
          <script type="text/javascript" src="App/Controller/categoriasController.js"></script>
            <script type="text/javascript" src="App/Controller/targetasController.js"></script>
            <script type="text/javascript" src="App/Controller/verFacturasController.js"></script>
</html>