<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	   <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Morris chart -->
        <link href="css/morris/morris.css" rel="stylesheet" type="text/css" />
        <!-- jvectormap -->
        <link href="css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
        <!-- fullCalendar -->
        <link href="css/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
        <!-- Daterange picker -->
        <link href="css/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <!-- bootstrap wysihtml5 - text editor -->
        <link href="css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="css/AdminLTE.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css" href="js/sweetalert.css">
        <style type="text/css">
            .d{
                display: none
            }
            .table tbody tr:hover .d{
display: inline;
cursor: default;
visibility: 2s;            }
        </style>
</head>
<body>
	<div class="container">	



	<a href="#/verProductos" class="btn btn-info btn-lg">Ver Productos</a>	
    <div class="row" ng-controller="facturaController">
        <div class="panel panel-warning">
            <div class="panel-heading">
                Informacion de la Factura
            </div>
            <div class="panel-body">
                <div class="col-md-6">
               <div class="form-group">
                    <label class="labe-control">Fecha de la Factura</label>
                 <input type="text" readonly="true" ng-model="fecha |date : format : timezone" value="" class="form-control" name="">
               </div>
               <div class="form-group">
                   <label class="labe-control">Nombre del Cliente</label>
                 <input type="text"  class="form-control" name="">
               </div>
                </div>
                <div class="col-md-6">
            <div class="form-group">
                    <label class="labe-control">Factura Nº</label>
                    <input type="text" name="" ng-model="numero_Fac" value="{{numero_Fac}}" class="form-control" >
            </div>
                     <div class="form-group">
                   <label class="labe-control">Nombre del Cajero</label>
                 <select class="form-control">
                     <option >Pedro Mojica</option>
                     <option >Ana Maria</option>

<option >Mendez Solorsano</option>

<option >Fatima Velasquez</option>

                 </select>
               </div>
                </div>
            </div>
        </div>
    </div>

	<div class="row" ng-controller="facturaController">
   <div class="pane panel-warning" ng-show="visible">
        <div class="panel-heading">
          Editando el Producto del Carrito
        </div>
        <div class="panel-body">
        <input type="hidden" ng-model="idProducto" name="">
        <div class="col-md-4"><input type="number" class="btn btn-default" ng-model="cantidad" name="" class="form-control"></div>
        <div class="col-md-8"><button type="reset" class="btn btn-danger" ng-click="cancel()" title="Cancelar"><i class="fa fa-ban"></i></button>&nbsp;
       <button type="reset" ng-click="update()" class="btn btn-success" title="Actualizar"><i class="fa fa-refresh"></i></button></div>
          
          
            
        </div>
      </div>
			<div class="panel panel-warning">
       <div class="panel-heading">
           Detalle de la Factura
       </div>  
       <div class="panel-body">
           <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                         <th>Total</th>
                         <th>Acciones de Venta</th>
                    </tr>
                </thead>
               
                <tbody>
                    <tr ng-repeat="fact in Articulo">
                        <td>{{fact.idProducto}}</td>
                        <td>{{fact.nombre}}</td>
                        <td>{{fact.cantidad}}</td>
                        <td>{{fact.precio |currency : "C$"}}</td>
                        <td>{{fact.cantidad*fact.precio |currency : "C$"}}</td>
<td>
 <button type="button" class="btn btn-danger d" ng-click="Quitar(fact.idProducto)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>&nbsp;
 <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success d" ng-click="obtener(fact.idProducto)"> <i class="fa fa-pencil"></i></button>

                    </tr>
                </tbody>
            </table>

       </div>   
 <div class="panel col-md-12">
            <button type="button" class="btn btn-success" ng-click="Factura()" style="text-align:center;">Facturar</button> 
        </div>
            </div>
      
		</div>
  
	</div>	
</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>


        <!-- Bootstrap -->
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Morris.js charts -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="js/plugins/morris/morris.min.js" type="text/javascript"></script>
        <!-- Sparkline -->
        <script src="js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- jvectormap -->
        <script src="js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
        <script src="js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
        <!-- fullCalendar -->
        <script src="js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <!-- jQuery Knob Chart -->
        <script src="js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
        <!-- daterangepicker -->
        <script src="js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
        <!-- iCheck -->
        <script src="js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
        <!-- AdminLTE App -->
        <script src="js/AdminLTE/app.js" type="text/javascript"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="js/AdminLTE/dashboard.js" type="text/javascript"></script>   
        <script type="text/javascript" src="js/angular.js"></script>     
        <script type="text/javascript" src="js/angular-route.js"></script>
        <script type="text/javascript" src="App/App.js"></script>
        <script type="text/javascript" src="App/Services/Servicios.js"></script>
      <script type="text/javascript" src="App/Controller/productosController.js"></script>
        <script type="text/javascript" src="App/Controller/marcasController.js"></script>
          <script type="text/javascript" src="App/Controller/categoriasController.js"></script>
      <script type="text/javascript" src="App/Controller/facturaController.js"></script>
             <script type="text/javascript" src="App/Controller/tallaController.js"></script>
</html>